{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Servicios</title>
    <link rel="stylesheet" href="{% static 'servicios/css/styles.css' %}">
</head>
<body>
    <h1>Nuestros Servicios</h1>
    <ul>
        {% for servicio in servicios %}
            <li>
                <h2>{{ servicio.descripcion }}</h2>
                <p>Precio: ${{ servicio.precio }}</p>
                <img src="{{ servicio.foto.url }}" alt="{{ servicio.descripcion }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>
